{% extends 'base.html'%}

{%  block head %}

{%  endblock %}

{%  block body %}

    <div class="registerBox">
        <form method="POST" action="" class="containerLogin">
                <H1 class="headerText">Enter your details to Login </H1> <br>
                     <div class="containerInput">
                         <label>email</label>
                            <input type="email" name = "email"/>
                         <label>password</label>
                            <input type="text" name = "password"/>
                     </div>
            <div>
                <input type = "submit">
            </div>

        </form>
    </div>



{%  endblock %}