{% extends 'base.html'%}

{%  block head %}

{%  endblock %}

{%  block body %}

        <div class="registerBox">
                <form method="POST" action="" class="containerLogin">
                    <H1 class="headerText">Enter your details to register </H1> <br>
                         <div class="containerInput">

                             <label>User Name</label>
                                <input type="text" name = "username" />
                             <label>E-mail</label>
                                <input type="text" name = "email"/>
                             <label>Password</label>
                                <input type="text" name = "password" />

                         </div>

                    <div>
                        <input type = "submit">
                    </div>
                </form>
        </div>

{%  endblock %}